body {
  background-image: url('../../assets/500A9897.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.container {
  color: white;
  margin: 50px;
}