.item {
  display: flex;
  width: 100%;
  flex-direction: row;
  margin: 20px;
  justify-content: space-around;
}

.item-image {
  width: 30%;
  height: 30%;
}

.item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  text-align: start;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
}